body

 {
    max-width: 1200px;
    margin: 0 auto 0px auto;
    font-family: 'Arial';
    font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}